// Reset
@import '../../components/normalize-scss/_normalize';

// Colours
$foreground: #333;
$background: #fff;
$highlight: #ccc;
$button-main: #eee;
$button-highlight: #ccc;

// Fonts
$sans-serif: 'Roboto', helvetica, arial, sans-serif;
