@charset "UTF-8";

@import '_mixins';
@import '_base';

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* + * {
  margin-top: 1.5em;
}
html {
    font-size: 62.5%;
    font-size: (10/16)*1em;
    font-family: $sans-serif;
}
body {
    background: $background;
    color: $foreground;
    font-size: 100%;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5;
}
::selection {
    background-color: $highlight;
    color: $background;
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}
main {
    margin: 2em;
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row nowrap;
}
.container.hidden {
    display: none;
}
.column {
    margin-top: 0;
    width: 100%;
}
.screenshot {
    width: 80%;
}
.screenshot img {
    width: 100%;
}
.screenshot + .screenshot {
    border-top: 1px dashed $highlight;
    padding-top: 1.5em;
}
.workspace {
    display: none;
}
.placeholder {
    visibility: hidden;
}
#pages {
    list-style: none;
    padding: 0;
}
#pages li {
    background-color: $button-main;
    border-radius: 5px;
    box-shadow: 0 2px 0 $button-highlight;
    cursor: default;
    display: inline-block;
    margin: 0 0.75em;
    padding: 0.5em 2em;
    position: relative;

    &:hover, &:active {
        top: 1px;
    }
    &:active {
        background-color: $highlight;
    }
}
#pages.disabled li {
    opacity: 0.5;

    &:hover, &:active {
        top: 0;
    }
}
#pages li.active {
    background-color: #f80;
    box-shadow: 0 2px 0 #ce6b00;
    color: white;
}
